.more{
    margin-bottom: 25px;
    text-align: center;
}
.title{
    text-align: center;
     padding-bottom: 20px;
     padding-top: 20px;
 }
 .card{
    text-align: center;
}
.link{
    text-align: center;  
}
