.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.titlep{
    text-align: center;
    padding-bottom: 20px;
}
.story{
    text-align: center;
    padding-bottom: 15px;
}
.storyp{
    text-align: center;
}